

.title {
    width: 100%;
    text-align: left;
    font-size: large;
    font-weight: 600;
    padding-bottom: 40px;
    display: flex;
justify-content: center;
align-items: center;
}

.piece {
    padding: 10px;
    display: flex;
flex-direction: column;
align-items: center;

    .piece-icon {
        font-size: x-large;;
    }
}

.selection {
    display: flex;
    flex-direction: column;
}

.actions {
    display: flex;
    justify-content: center;
    width: 100%;

    .button {
        background-color: #ececec;
width: 100px;
height: 50px;
border-radius: 3px;
    }
}