

.title {
    width: 100%;
    text-align: left;
    font-size: large;
    font-weight: 600;
    padding-bottom: 40px;
}

.piece {
    padding: 10px;

    .piece-icon {
        font-size: x-large;;
    }
}

.selection {
    display: flex;}